.title {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 5px;
}
.title-register {
    margin-bottom: 20px;
}
.msg {
    font-size: 18px;
    margin-bottom: 28px;
}
.form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.form-label {
    margin-bottom: 8px;
}
.form-label:not(.invalid-input)::after {
    content: ": ";
}
.invalid-input {
    color: #ff3333;
}
.invalid-input + .form-control {
    border-color: #ff3333;
}
.invalid-input span::before {
    content: " - ";
}
.form-control {
    font-size: 16px;
    width: 100%;
    padding: 12px 20px;
    border-radius: 13px;
    border: 2px solid #00000029;
    outline: none;
    background-color: #e8e9f0;
    margin-bottom: 15px;
}
.form-control:last-of-type {
    margin-bottom: 25px;
}
.link-account {
    position: absolute;
    display: block;
    color: #c2d1ef;
    text-decoration: none;
    bottom: 40px;
}
.link-account span {
    color: #008fff;
    margin-left: 4px;
}
.link-account span:hover {
    text-decoration: underline;
}